<h1> What Song Today? </h1>

<form action="/search_song" method="post">
  <div>
    <label for="Song_title"> Song Title? </label>
    <input id="Song_title" type="text" name="q_songtitle" placeholder="Title...">
  </div> 

  <div>
    <label for="Artist_name"> Artist Name? </label>
    <input id="Artist_name" type="text" name="qs_artistname" placeholder="Artist...">
  </div>

  <div>
    <button> Search </button>
  </div>
</form>